#study-main-container, #subject-main-container {
    display: grid;
    grid-gap: 1em;
}

#subject-main-container h1 {
    font-size: 50px;
}

#subject-main-container h2 {
    font-size: 40px;
}

#subject-main-container h3 {
    font-size: 25px;
}

#subject-main-container img {
    height: 3em;
    width: 3em;
}

#header-icon-contain {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

#study-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}


.subject-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    cursor: pointer;
    width: fit-content;
}

.subject-container .subject-container-inner {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    /* background-color: #f6f6f6; */
    border-radius: 0 0 0.5em 0.5em;
}

.subject-container div button {
    background: #fff;
    border-radius: 0.2em;
    width: fit-content;
    padding: 0.5em;
    font-family: sfb;
} 

.subject-container:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.subject-container img {
    height: 10em;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
}

.subject-container div p {
    max-lines: 5;
}

.button-containers {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 1em;
    flex-wrap: wrap;
}

#topic-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    gap: 1.5em;
}

.topic-container {
    background-color: #f3f3f4; 
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 0.5em;
}

.topic-container:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.last-update {
    opacity: 0.7;
}