#footer-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

#copyright {
  font-size: 1.5em;
}

#footer-options-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5em;
  width: 100%;
}

.footer-sections {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-sections p:hover {
  color: rgba(50, 50, 200, 0.7);
  cursor: pointer
}