#footer-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

#copyright {
  font-size: 1.5em;
}

#footer-options-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5em;
  width: 100%;
}

.footer-sections {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-sections p:hover {
  color: rgba(50, 50, 200, 0.7);
  cursor: pointer
}

@media only screen and (max-width: 750px){ 
  #footer-options-container {
    width: 100%;
    height: fit-content;
    /* width: calc(100%-20px); */
    border: 2px solid #eee;
    box-sizing: border-box;
    display: grid;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px #eee;
    padding: 1em;
  }

}