@font-face {
    font-family: sfb;
    src: url(./fonts/sfb.ttf);
}

@font-face {
    font-family: sfr;
    src: url(./fonts/sfr.ttf);
}
  

* {
    font-family: sfr ,Roboto, 'Times New Roman', Times, serif;    
    /* font-family: 'PT Sans', sans-serif; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: 0.3s;

}

body {
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    overflow: auto;
}



#show_blur {
    filter: blur(4px);
    transition: 0.3s;
}

#no_blur {
    transition: 0.3s;
}